 # Objectives:
 
        Indentify regions wihtin GTA that would be feasible to purchase a property, considering avg list price

# Hypotheses

 - __h1__: There properties with listing price below market value considering the avg market value from the neighbourhood.
 
 - __h2__: Some neighbourhoods have higher market value properties than others, considering same properties' features
     - Baths, Beds,
     - sqft
     - Type - Condo, Basement, Detached, Townhouse   


 - __h3__: There are some properties that were were sold more than once within the timeframe of the analysis
 
 - __h4__: there are some features with corelation to the listing price than others.

# Import libs

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('df_houses.parquet')

In [3]:
df

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bedrooms_standard,bedrooms_plus,bedrooms_standard_and_plus,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,3,0,3,1,2,3,37,2,963601.125,0.09371979510713004
1,mls-toronto-W5756108,2023-01-04 13:38:41+00,toronto-on-ca,Palermo West,"Bronte Creek, Palermo West",[],Oakville,ON,"{'lat': 43.422433, 'lng': -79.769032}","3141 Saddleworth Crescent, Oakville, ON L6M 0A...",...,4,0,4,3,2,5,40,2,2463218.75,0.07794405186303491
2,mls-toronto-S5856040,2023-01-05 14:51:54+00,toronto-on-ca,Cundles East,Cundles East,[],Barrie,ON,"{'lat': 44.413409, 'lng': -79.690924}","460 St Vincent St, Barrie, ON L4M 6C8, Canada",...,4,0,4,2,1,3,9,2,None,None
3,mls-toronto-S5842127,2023-01-04 17:23:18+00,toronto-on-ca,Horseshoe Valley,"Horseshoe Valley, Rural Oro-Medonte",[],Shanty Bay,ON,"{'lat': 44.537724, 'lng': -79.660751}","52 Oakmont Ave, Shanty Bay, ON L0L 2L0, Canada",...,2,1,3,2,0,2,32,2,None,None
4,mls-toronto-S5834508,2023-01-05 14:13:15+00,toronto-on-ca,400 West,"Painswick South, Painswick",[],Barrie,ON,"{'lat': 44.344414, 'lng': -79.647427}","119 Nathan Crescent, Barrie, ON L4N 0S5, Canada",...,2,1,3,1,0,1,28,1,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-X5812354,2022-11-14 15:42:10+00,toronto-on-ca,None,Orchard Park,[],Catharines,ON,"{'lat': 43.174243, 'lng': -79.26105}","19 Garfield Ln, St. Catharines, ON L2R 7G9, Ca...",...,4,0,4,2,0,2,34,0,None,None
7627,mls-toronto-X5811628,2022-11-14 15:19:34+00,toronto-on-ca,Fessenden,Fessenden,[],Hamilton,ON,"{'lat': 43.233307, 'lng': -79.916843}","145 Rice Ave #57, Hamilton, ON L9C 5X6, Canada",...,3,0,3,1,1,2,33,1,None,None
7628,mls-toronto-X5811278,2022-11-16 19:32:32+00,toronto-on-ca,Rural Hamilton,Rural Hamilton,[],Cobourg,ON,"{'lat': 44.012978, 'lng': -78.189636}","8590 Dale Rd, Cobourg, ON K9A 4J7, Canada",...,3,1,4,2,0,2,33,2,None,None
7629,mls-toronto-X5811095,2022-11-14 14:14:52+00,toronto-on-ca,Brantford Twp,Echo Place,[],Brantford,ON,"{'lat': 43.148269, 'lng': -80.196682}","117 Barrett Ave, Brantford, ON N3S 0B3, Canada",...,4,1,5,3,1,4,26,2,None,None
7630,mls-toronto-X5809927,2022-11-11 23:34:44+00,toronto-on-ca,None,Hespeler Village,[],Cambridge,ON,"{'lat': 43.427825, 'lng': -80.302224}","14 Alpine St, Cambridge, ON N3C 2J7, Canada",...,2,2,4,2,0,2,28,2,None,None

In [4]:
df.columns

Index(['id', 'last_updated_str', 'properly_city_code', 'community',
       'neighbourhood_name', 'neighbourhoods', 'city', 'province', '_geoloc',
       'formatted_address', 'list_price', 'on_market_date_str',
       'close_date_str', 'property_sub_type', 'levels', 'parking_total',
       'living_area_sqft', 'bedrooms_standard', 'bedrooms_plus',
       'bedrooms_standard_and_plus', 'bathrooms_full', 'bathrooms_partial',
       'bathrooms_total', 'images_count', 'garage_spaces', 'predicted_price',
       'error_rate'],
      dtype='object')

In [5]:
df

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bedrooms_standard,bedrooms_plus,bedrooms_standard_and_plus,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,3,0,3,1,2,3,37,2,963601.125,0.09371979510713004
1,mls-toronto-W5756108,2023-01-04 13:38:41+00,toronto-on-ca,Palermo West,"Bronte Creek, Palermo West",[],Oakville,ON,"{'lat': 43.422433, 'lng': -79.769032}","3141 Saddleworth Crescent, Oakville, ON L6M 0A...",...,4,0,4,3,2,5,40,2,2463218.75,0.07794405186303491
2,mls-toronto-S5856040,2023-01-05 14:51:54+00,toronto-on-ca,Cundles East,Cundles East,[],Barrie,ON,"{'lat': 44.413409, 'lng': -79.690924}","460 St Vincent St, Barrie, ON L4M 6C8, Canada",...,4,0,4,2,1,3,9,2,None,None
3,mls-toronto-S5842127,2023-01-04 17:23:18+00,toronto-on-ca,Horseshoe Valley,"Horseshoe Valley, Rural Oro-Medonte",[],Shanty Bay,ON,"{'lat': 44.537724, 'lng': -79.660751}","52 Oakmont Ave, Shanty Bay, ON L0L 2L0, Canada",...,2,1,3,2,0,2,32,2,None,None
4,mls-toronto-S5834508,2023-01-05 14:13:15+00,toronto-on-ca,400 West,"Painswick South, Painswick",[],Barrie,ON,"{'lat': 44.344414, 'lng': -79.647427}","119 Nathan Crescent, Barrie, ON L4N 0S5, Canada",...,2,1,3,1,0,1,28,1,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-X5812354,2022-11-14 15:42:10+00,toronto-on-ca,None,Orchard Park,[],Catharines,ON,"{'lat': 43.174243, 'lng': -79.26105}","19 Garfield Ln, St. Catharines, ON L2R 7G9, Ca...",...,4,0,4,2,0,2,34,0,None,None
7627,mls-toronto-X5811628,2022-11-14 15:19:34+00,toronto-on-ca,Fessenden,Fessenden,[],Hamilton,ON,"{'lat': 43.233307, 'lng': -79.916843}","145 Rice Ave #57, Hamilton, ON L9C 5X6, Canada",...,3,0,3,1,1,2,33,1,None,None
7628,mls-toronto-X5811278,2022-11-16 19:32:32+00,toronto-on-ca,Rural Hamilton,Rural Hamilton,[],Cobourg,ON,"{'lat': 44.012978, 'lng': -78.189636}","8590 Dale Rd, Cobourg, ON K9A 4J7, Canada",...,3,1,4,2,0,2,33,2,None,None
7629,mls-toronto-X5811095,2022-11-14 14:14:52+00,toronto-on-ca,Brantford Twp,Echo Place,[],Brantford,ON,"{'lat': 43.148269, 'lng': -80.196682}","117 Barrett Ave, Brantford, ON N3S 0B3, Canada",...,4,1,5,3,1,4,26,2,None,None
7630,mls-toronto-X5809927,2022-11-11 23:34:44+00,toronto-on-ca,None,Hespeler Village,[],Cambridge,ON,"{'lat': 43.427825, 'lng': -80.302224}","14 Alpine St, Cambridge, ON N3C 2J7, Canada",...,2,2,4,2,0,2,28,2,None,None

In [6]:
df.head()

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bedrooms_standard,bedrooms_plus,bedrooms_standard_and_plus,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,3,0,3,1,2,3,37,2,963601.125,0.09371979510713004
1,mls-toronto-W5756108,2023-01-04 13:38:41+00,toronto-on-ca,Palermo West,"Bronte Creek, Palermo West",[],Oakville,ON,"{'lat': 43.422433, 'lng': -79.769032}","3141 Saddleworth Crescent, Oakville, ON L6M 0A...",...,4,0,4,3,2,5,40,2,2463218.75,0.07794405186303491
2,mls-toronto-S5856040,2023-01-05 14:51:54+00,toronto-on-ca,Cundles East,Cundles East,[],Barrie,ON,"{'lat': 44.413409, 'lng': -79.690924}","460 St Vincent St, Barrie, ON L4M 6C8, Canada",...,4,0,4,2,1,3,9,2,None,None
3,mls-toronto-S5842127,2023-01-04 17:23:18+00,toronto-on-ca,Horseshoe Valley,"Horseshoe Valley, Rural Oro-Medonte",[],Shanty Bay,ON,"{'lat': 44.537724, 'lng': -79.660751}","52 Oakmont Ave, Shanty Bay, ON L0L 2L0, Canada",...,2,1,3,2,0,2,32,2,None,None
4,mls-toronto-S5834508,2023-01-05 14:13:15+00,toronto-on-ca,400 West,"Painswick South, Painswick",[],Barrie,ON,"{'lat': 44.344414, 'lng': -79.647427}","119 Nathan Crescent, Barrie, ON L4N 0S5, Canada",...,2,1,3,1,0,1,28,1,None,None

In [7]:
df.groupby(['city','neighbourhood_name'],as_index = False).count()

,city,neighbourhood_name,id,last_updated_str,properly_city_code,community,neighbourhoods,province,_geoloc,formatted_address,...,bedrooms_standard,bedrooms_plus,bedrooms_standard_and_plus,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate
0,Acton,"Action, Rural Halton Hills",6,6,6,5,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
1,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
2,Adjala-Tosorontio,Rural Adjala-Tosorontio,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,0,0
3,Adjala-Tosorontio,Rural New Tecumseth,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,0,0
4,Agatha,,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1701,York,"Marlee Village, Briar Hill - Belgravia",1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1702,York,"Mount Dennis, York",1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1703,York,"Oakwood-Vaughn, York",4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
1704,York,"Roselands, Rockcliffe-Smythe",4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
1705,York,"Weston, York",3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3

In [8]:
df.groupby(['city','neighbourhood_name'],as_index = False).agg({'list_price':'mean',
                                                               'bathrooms_total':'max'})

,city,neighbourhood_name,list_price,bathrooms_total
0,Acton,"Action, Rural Halton Hills",919766.5,4
1,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",729999.0,2
2,Adjala-Tosorontio,Rural Adjala-Tosorontio,1374225.0,4
3,Adjala-Tosorontio,Rural New Tecumseth,819000.0,3
4,Agatha,,1499900.0,1
...,...,...,...,...
1701,York,"Marlee Village, Briar Hill - Belgravia",479000.0,1
1702,York,"Mount Dennis, York",388800.0,1
1703,York,"Oakwood-Vaughn, York",959225.0,2
1704,York,"Roselands, Rockcliffe-Smythe",715475.0,2
1705,York,"Weston, York",899600.0,2

In [9]:
df_city = df.groupby(['city','neighbourhood_name'],as_index = False).agg({'list_price':'mean',
                                                               'bathrooms_total':'mean',
                                                               'garage_spaces':'mean'})

In [10]:
df_city

,city,neighbourhood_name,list_price,bathrooms_total,garage_spaces
0,Acton,"Action, Rural Halton Hills",919766.5,3.00,1.333333
1,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",729999.0,2.00,2.000000
2,Adjala-Tosorontio,Rural Adjala-Tosorontio,1374225.0,2.75,2.250000
3,Adjala-Tosorontio,Rural New Tecumseth,819000.0,2.50,1.500000
4,Agatha,,1499900.0,1.00,1.000000
...,...,...,...,...,...
1701,York,"Marlee Village, Briar Hill - Belgravia",479000.0,1.00,1.000000
1702,York,"Mount Dennis, York",388800.0,1.00,1.000000
1703,York,"Oakwood-Vaughn, York",959225.0,1.50,0.500000
1704,York,"Roselands, Rockcliffe-Smythe",715475.0,1.75,0.750000
1705,York,"Weston, York",899600.0,2.00,1.333333

In [11]:
df_city = df_city.rename(columns={'list_price':'mean_price',
                                 'bathrooms_total':'mean_bath'})

In [12]:
df_city

,city,neighbourhood_name,mean_price,mean_bath,garage_spaces
0,Acton,"Action, Rural Halton Hills",919766.5,3.00,1.333333
1,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",729999.0,2.00,2.000000
2,Adjala-Tosorontio,Rural Adjala-Tosorontio,1374225.0,2.75,2.250000
3,Adjala-Tosorontio,Rural New Tecumseth,819000.0,2.50,1.500000
4,Agatha,,1499900.0,1.00,1.000000
...,...,...,...,...,...
1701,York,"Marlee Village, Briar Hill - Belgravia",479000.0,1.00,1.000000
1702,York,"Mount Dennis, York",388800.0,1.00,1.000000
1703,York,"Oakwood-Vaughn, York",959225.0,1.50,0.500000
1704,York,"Roselands, Rockcliffe-Smythe",715475.0,1.75,0.750000
1705,York,"Weston, York",899600.0,2.00,1.333333

In [13]:
df['neighbourhood_name'].value_counts(dropna = False)

                                    568
Bowmanville                          69
Unionville                           50
Humber Bay, Stonegate-Queensway      47
Georgetown, Rural Halton Hills       43
                                   ...
Prince William Gate, Innis Shore      1
Kilally, Huron Heights                1
North Ward                            1
Whitehills, Medway                    1
Burleigh Hill, Merritton              1
Name: neighbourhood_name, Length: 1180, dtype: int64

In [14]:
df['community'].value_counts(dropna = False)

None                         899
Waterfront Communities C1    128
Bowmanville                   71
Mimico                        67
City Centre                   65
                            ...
Hastings                       1
Nottawa                        1
Blakeley                       1
Oakville                       1
Elder Mills                    1
Name: community, Length: 736, dtype: int64

In [15]:
df[df['community'].isnull()]

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bedrooms_standard,bedrooms_plus,bedrooms_standard_and_plus,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate
20,mls-toronto-X5849719,2023-01-04 03:57:14+00,toronto-on-ca,None,Greenway-Chaplin,[],Cambridge,ON,"{'lat': 43.372066, 'lng': -80.309798}","125 Norfolk Ave, Cambridge, ON N1R 3V3, Canada",...,3,0,3,2,0,2,16,1,None,None
21,mls-toronto-X5849070,2023-01-04 15:59:10+00,toronto-on-ca,None,,[],North Perth,ON,"{'lat': 43.721229, 'lng': -80.95761}","90 Forbes Cres, North Perth, ON N0G, Canada",...,3,0,3,2,1,3,37,2,None,None
22,mls-toronto-X5841261,2023-01-03 21:04:02+00,toronto-on-ca,None,Brier Park,[],Brantford,ON,"{'lat': 43.172785, 'lng': -80.249121}","640 West St #809, Brantford, ON N3R 6M3, Canada",...,3,0,3,2,0,2,23,0,None,None
23,mls-toronto-X5841163,2023-01-04 15:26:46+00,toronto-on-ca,None,"Hodgson, Westlane",[],Niagara Falls,ON,"{'lat': 43.090302, 'lng': -79.127665}","7826 Spring Blossom Dr, Niagara Falls, ON L2H ...",...,4,1,5,4,0,4,39,2,None,None
25,mls-toronto-X5840127,2023-01-04 14:55:12+00,toronto-on-ca,None,,[],Beamsville,ON,"{'lat': 43.16377, 'lng': -79.4774}","4248 Queen St, Beamsville, ON L0R 1B2, Canada",...,3,0,3,2,1,3,37,1,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7617,mls-toronto-X5819320,2022-11-14 19:34:43+00,toronto-on-ca,None,Shellard Lane,[],Brantford,ON,"{'lat': 43.11602, 'lng': -80.30751}","181 Munro Cir, Brantford, ON N3T 5L5, Canada",...,4,0,4,3,1,4,40,2,None,None
7620,mls-toronto-X5818096,2022-11-13 14:15:31+00,toronto-on-ca,None,Cordage,[],Welland,ON,"{'lat': 42.979151, 'lng': -79.239586}","318 Simpson Ave, Welland, ON L3B 4Y8, Canada",...,2,0,2,1,0,1,23,0,None,None
7623,mls-toronto-X5816510,2022-11-23 15:09:03+00,toronto-on-ca,None,Doon South,[],Kitchener,ON,"{'lat': 43.37361, 'lng': -80.430847}","100 Watermill St, Kitchener, ON N2P 0H3, Canada",...,3,0,3,2,1,3,28,1,None,None
7626,mls-toronto-X5812354,2022-11-14 15:42:10+00,toronto-on-ca,None,Orchard Park,[],Catharines,ON,"{'lat': 43.174243, 'lng': -79.26105}","19 Garfield Ln, St. Catharines, ON L2R 7G9, Ca...",...,4,0,4,2,0,2,34,0,None,None
7630,mls-toronto-X5809927,2022-11-11 23:34:44+00,toronto-on-ca,None,Hespeler Village,[],Cambridge,ON,"{'lat': 43.427825, 'lng': -80.302224}","14 Alpine St, Cambridge, ON N3C 2J7, Canada",...,2,2,4,2,0,2,28,2,None,None

In [16]:
df.count()

id                            7631
last_updated_str              7631
properly_city_code            7631
community                     6732
neighbourhood_name            7631
neighbourhoods                7631
city                          7631
province                      7631
_geoloc                       7631
formatted_address             7631
list_price                    7631
on_market_date_str            7631
close_date_str                7631
property_sub_type             7631
levels                        7607
parking_total                 7631
living_area_sqft              5348
bedrooms_standard             7631
bedrooms_plus                 7631
bedrooms_standard_and_plus    7631
bathrooms_full                7631
bathrooms_partial             7631
bathrooms_total               7631
images_count                  7631
garage_spaces                 7631
predicted_price               5100
error_rate                    5100
dtype: int64

In [17]:
df2 = df.merge(df_city,how = 'inner', on = ['city','neighbourhood_name'])
df2

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces_x,predicted_price,error_rate,mean_price,mean_bath,garage_spaces_y
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,1,2,3,37,2,963601.125,0.09371979510713004,976891.5,3.0,1.416667
1,mls-toronto-W5783469,2022-12-30 14:47:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.652686, 'lng': -79.935119}","29 Heather Ct, Georgetown, ON L7G 2R5, Canada",...,1,1,2,38,1,903281.5625,0.02169789942989122,976891.5,3.0,1.416667
2,mls-toronto-W5853578,2022-12-22 23:19:24+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.650544, 'lng': -79.931884}","38 Henry St, Georgetown, ON L7G 2K5, Canada",...,1,0,1,14,0,695475.625,0.19267021399923254,976891.5,3.0,1.416667
3,mls-toronto-W5813715,2022-12-20 22:09:49+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.641308, 'lng': -79.87374}","23 Split Maple Ln, Georgetown, ON L7G 5R6, Canada",...,3,1,4,27,2,1369438.75,0.047678017728065604,976891.5,3.0,1.416667
4,mls-toronto-W5823799,2022-12-12 15:19:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.632935, 'lng': -79.876212}","65 Niagara Trail, Georgetown, ON L7G 0A7, Canada",...,2,1,3,33,1,901884.625,0.03902155167574788,976891.5,3.0,1.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-W5819761,2022-11-16 15:33:51+00,toronto-on-ca,Briar Hill-Belgravia,"Eglinton West, Briar Hill - Belgravia","[Fairbank, Fairbank (Briar Hill-Belgravia), Yo...",Toronto,ON,"{'lat': 43.695136, 'lng': -79.457522}","21 Ronald Ave, York, ON M6E 4M5, Canada",...,2,0,2,20,1,859919.875,0.11627449592323937,839000.0,2.0,1.000000
7627,mls-toronto-N5803278,2022-11-18 15:53:41+00,toronto-on-ca,Elder Mills,Elder Mills,[],Vaughan,ON,"{'lat': 43.804796, 'lng': -79.627028}","78 Royalpark Way, Vaughan, ON L4H 1J6, Canada",...,3,1,4,34,2,1328391.0,0.02445599601322201,1399900.0,4.0,2.000000
7628,mls-toronto-E5812454,2022-11-14 17:02:30+00,toronto-on-ca,Steeles,"Clarks Corners, Steeles",[],Scarborough,ON,"{'lat': 43.809156, 'lng': -79.310251}","16 Lapworth Crescent, Scarborough, ON M1V 2M5,...",...,3,1,4,40,2,1500777.25,0.027431702472835325,1599000.0,4.0,2.000000
7629,mls-toronto-C5821673,2022-11-14 21:28:09+00,toronto-on-ca,Kensington-Chinatown,"Baldwin Village, Grange Park","[Baldwin Village, Downtown, Grange Park]",Toronto,ON,"{'lat': 43.656319, 'lng': -79.392541}","6 Baldwin St, Toronto, ON M5T 1L2, Canada",...,2,1,3,28,1,1598647.375,0.09465611514234025,1499000.0,3.0,1.000000
7630,mls-toronto-X5819889,2022-11-16 23:10:48+00,toronto-on-ca,None,"Burleigh Hill, Merritton",[],Catharines,ON,"{'lat': 43.132529, 'lng': -79.202872}","10 Alden Ct, St. Catharines, ON L2T 3X3, Canada",...,2,0,2,30,0,None,None,499999.0,2.0,0.000000

In [18]:
df2['dif_price'] = df2['list_price'] - df2['mean_price']
df2

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bathrooms_partial,bathrooms_total,images_count,garage_spaces_x,predicted_price,error_rate,mean_price,mean_bath,garage_spaces_y,dif_price
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,2,3,37,2,963601.125,0.09371979510713004,976891.5,3.0,1.416667,-28891.5
1,mls-toronto-W5783469,2022-12-30 14:47:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.652686, 'lng': -79.935119}","29 Heather Ct, Georgetown, ON L7G 2R5, Canada",...,1,2,38,1,903281.5625,0.02169789942989122,976891.5,3.0,1.416667,-47891.5
2,mls-toronto-W5853578,2022-12-22 23:19:24+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.650544, 'lng': -79.931884}","38 Henry St, Georgetown, ON L7G 2K5, Canada",...,0,1,14,0,695475.625,0.19267021399923254,976891.5,3.0,1.416667,-276891.5
3,mls-toronto-W5813715,2022-12-20 22:09:49+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.641308, 'lng': -79.87374}","23 Split Maple Ln, Georgetown, ON L7G 5R6, Canada",...,1,4,27,2,1369438.75,0.047678017728065604,976891.5,3.0,1.416667,522108.5
4,mls-toronto-W5823799,2022-12-12 15:19:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.632935, 'lng': -79.876212}","65 Niagara Trail, Georgetown, ON L7G 0A7, Canada",...,1,3,33,1,901884.625,0.03902155167574788,976891.5,3.0,1.416667,-47891.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-W5819761,2022-11-16 15:33:51+00,toronto-on-ca,Briar Hill-Belgravia,"Eglinton West, Briar Hill - Belgravia","[Fairbank, Fairbank (Briar Hill-Belgravia), Yo...",Toronto,ON,"{'lat': 43.695136, 'lng': -79.457522}","21 Ronald Ave, York, ON M6E 4M5, Canada",...,0,2,20,1,859919.875,0.11627449592323937,839000.0,2.0,1.000000,0.0
7627,mls-toronto-N5803278,2022-11-18 15:53:41+00,toronto-on-ca,Elder Mills,Elder Mills,[],Vaughan,ON,"{'lat': 43.804796, 'lng': -79.627028}","78 Royalpark Way, Vaughan, ON L4H 1J6, Canada",...,1,4,34,2,1328391.0,0.02445599601322201,1399900.0,4.0,2.000000,0.0
7628,mls-toronto-E5812454,2022-11-14 17:02:30+00,toronto-on-ca,Steeles,"Clarks Corners, Steeles",[],Scarborough,ON,"{'lat': 43.809156, 'lng': -79.310251}","16 Lapworth Crescent, Scarborough, ON M1V 2M5,...",...,1,4,40,2,1500777.25,0.027431702472835325,1599000.0,4.0,2.000000,0.0
7629,mls-toronto-C5821673,2022-11-14 21:28:09+00,toronto-on-ca,Kensington-Chinatown,"Baldwin Village, Grange Park","[Baldwin Village, Downtown, Grange Park]",Toronto,ON,"{'lat': 43.656319, 'lng': -79.392541}","6 Baldwin St, Toronto, ON M5T 1L2, Canada",...,1,3,28,1,1598647.375,0.09465611514234025,1499000.0,3.0,1.000000,0.0
7630,mls-toronto-X5819889,2022-11-16 23:10:48+00,toronto-on-ca,None,"Burleigh Hill, Merritton",[],Catharines,ON,"{'lat': 43.132529, 'lng': -79.202872}","10 Alden Ct, St. Catharines, ON L2T 3X3, Canada",...,0,2,30,0,None,None,499999.0,2.0,0.000000,0.0

In [19]:
#df2['exemplo_df'] = 'batata'
#df2

***
add to h1
***

# Titulo 1
## Titulo 2

# <font color='red'>Bar</font>

__Tasks:__ 

    -h2

    -fazer null = 0

    -features

***

# __<font color='red'>Warning</font>__

## Cagadas below

***

__-Converter valores null em zero__

In [20]:
df2

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bathrooms_partial,bathrooms_total,images_count,garage_spaces_x,predicted_price,error_rate,mean_price,mean_bath,garage_spaces_y,dif_price
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,2,3,37,2,963601.125,0.09371979510713004,976891.5,3.0,1.416667,-28891.5
1,mls-toronto-W5783469,2022-12-30 14:47:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.652686, 'lng': -79.935119}","29 Heather Ct, Georgetown, ON L7G 2R5, Canada",...,1,2,38,1,903281.5625,0.02169789942989122,976891.5,3.0,1.416667,-47891.5
2,mls-toronto-W5853578,2022-12-22 23:19:24+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.650544, 'lng': -79.931884}","38 Henry St, Georgetown, ON L7G 2K5, Canada",...,0,1,14,0,695475.625,0.19267021399923254,976891.5,3.0,1.416667,-276891.5
3,mls-toronto-W5813715,2022-12-20 22:09:49+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.641308, 'lng': -79.87374}","23 Split Maple Ln, Georgetown, ON L7G 5R6, Canada",...,1,4,27,2,1369438.75,0.047678017728065604,976891.5,3.0,1.416667,522108.5
4,mls-toronto-W5823799,2022-12-12 15:19:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.632935, 'lng': -79.876212}","65 Niagara Trail, Georgetown, ON L7G 0A7, Canada",...,1,3,33,1,901884.625,0.03902155167574788,976891.5,3.0,1.416667,-47891.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-W5819761,2022-11-16 15:33:51+00,toronto-on-ca,Briar Hill-Belgravia,"Eglinton West, Briar Hill - Belgravia","[Fairbank, Fairbank (Briar Hill-Belgravia), Yo...",Toronto,ON,"{'lat': 43.695136, 'lng': -79.457522}","21 Ronald Ave, York, ON M6E 4M5, Canada",...,0,2,20,1,859919.875,0.11627449592323937,839000.0,2.0,1.000000,0.0
7627,mls-toronto-N5803278,2022-11-18 15:53:41+00,toronto-on-ca,Elder Mills,Elder Mills,[],Vaughan,ON,"{'lat': 43.804796, 'lng': -79.627028}","78 Royalpark Way, Vaughan, ON L4H 1J6, Canada",...,1,4,34,2,1328391.0,0.02445599601322201,1399900.0,4.0,2.000000,0.0
7628,mls-toronto-E5812454,2022-11-14 17:02:30+00,toronto-on-ca,Steeles,"Clarks Corners, Steeles",[],Scarborough,ON,"{'lat': 43.809156, 'lng': -79.310251}","16 Lapworth Crescent, Scarborough, ON M1V 2M5,...",...,1,4,40,2,1500777.25,0.027431702472835325,1599000.0,4.0,2.000000,0.0
7629,mls-toronto-C5821673,2022-11-14 21:28:09+00,toronto-on-ca,Kensington-Chinatown,"Baldwin Village, Grange Park","[Baldwin Village, Downtown, Grange Park]",Toronto,ON,"{'lat': 43.656319, 'lng': -79.392541}","6 Baldwin St, Toronto, ON M5T 1L2, Canada",...,1,3,28,1,1598647.375,0.09465611514234025,1499000.0,3.0,1.000000,0.0
7630,mls-toronto-X5819889,2022-11-16 23:10:48+00,toronto-on-ca,None,"Burleigh Hill, Merritton",[],Catharines,ON,"{'lat': 43.132529, 'lng': -79.202872}","10 Alden Ct, St. Catharines, ON L2T 3X3, Canada",...,0,2,30,0,None,None,499999.0,2.0,0.000000,0.0

In [21]:
df2.count()

id                            7631
last_updated_str              7631
properly_city_code            7631
community                     6732
neighbourhood_name            7631
neighbourhoods                7631
city                          7631
province                      7631
_geoloc                       7631
formatted_address             7631
list_price                    7631
on_market_date_str            7631
close_date_str                7631
property_sub_type             7631
levels                        7607
parking_total                 7631
living_area_sqft              5348
bedrooms_standard             7631
bedrooms_plus                 7631
bedrooms_standard_and_plus    7631
bathrooms_full                7631
bathrooms_partial             7631
bathrooms_total               7631
images_count                  7631
garage_spaces_x               7631
predicted_price               5100
error_rate                    5100
mean_price                    7631
mean_bath                     7631
garage_spaces_y               7631
dif_price                     7631
dtype: int64

In [22]:
df2[df2.isnull()].value_counts #nada a ver

<bound method DataFrame.value_counts of        id last_updated_str properly_city_code community neighbourhood_name  \
0     NaN              NaN                NaN       NaN                NaN
1     NaN              NaN                NaN       NaN                NaN
2     NaN              NaN                NaN       NaN                NaN
3     NaN              NaN                NaN       NaN                NaN
4     NaN              NaN                NaN       NaN                NaN
...   ...              ...                ...       ...                ...
7626  NaN              NaN                NaN       NaN                NaN
7627  NaN              NaN                NaN       NaN                NaN
7628  NaN              NaN                NaN       NaN                NaN
7629  NaN              NaN                NaN       NaN                NaN
7630  NaN              NaN                NaN       NaN                NaN

     neighbourhoods city province _geoloc formatted_address  ...  \
0               NaN  NaN      NaN     NaN               NaN  ...
1               NaN  NaN      NaN     NaN               NaN  ...
2               NaN  NaN      NaN     NaN               NaN  ...
3               NaN  NaN      NaN     NaN               NaN  ...
4               NaN  NaN      NaN     NaN               NaN  ...
...             ...  ...      ...     ...               ...  ...
7626            NaN  NaN      NaN     NaN               NaN  ...
7627            NaN  NaN      NaN     NaN               NaN  ...
7628            NaN  NaN      NaN     NaN               NaN  ...
7629            NaN  NaN      NaN     NaN               NaN  ...
7630            NaN  NaN      NaN     NaN               NaN  ...

      bathrooms_partial bathrooms_total images_count garage_spaces_x  \
0                   NaN             NaN          NaN             NaN
1                   NaN             NaN          NaN             NaN
2                   NaN             NaN          NaN             NaN
3                   NaN             NaN          NaN             NaN
4                   NaN             NaN          NaN             NaN
...                 ...             ...          ...             ...
7626                NaN             NaN          NaN             NaN
7627                NaN             NaN          NaN             NaN
7628                NaN             NaN          NaN             NaN
7629                NaN             NaN          NaN             NaN
7630                NaN             NaN          NaN             NaN

     predicted_price  error_rate  mean_price  mean_bath  garage_spaces_y  \
0                NaN         NaN         NaN        NaN              NaN
1                NaN         NaN         NaN        NaN              NaN
2                NaN         NaN         NaN        NaN              NaN
3                NaN         NaN         NaN        NaN              NaN
4                NaN         NaN         NaN        NaN              NaN
...              ...         ...         ...        ...              ...
7626             NaN         NaN         NaN        NaN              NaN
7627             NaN         NaN         NaN        NaN              NaN
7628             NaN         NaN         NaN        NaN              NaN
7629             NaN         NaN         NaN        NaN              NaN
7630             NaN         NaN         NaN        NaN              NaN

      dif_price
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
7626        NaN
7627        NaN
7628        NaN
7629        NaN
7630        NaN

[7631 rows x 31 columns]>

In [23]:
df2[df2['error_rate'].isnull()].value_counts #checando quantas linhas com valor null existem

<bound method DataFrame.value_counts of                         id        last_updated_str properly_city_code  \
22    mls-toronto-S5856040  2023-01-05 14:51:54+00      toronto-on-ca
23    mls-toronto-S5841628  2022-12-12 20:20:00+00      toronto-on-ca
24    mls-toronto-S5790970  2022-12-01 17:55:39+00      toronto-on-ca
25    mls-toronto-S5836295  2022-11-29 13:30:47+00      toronto-on-ca
26    mls-toronto-S5831762  2022-11-23 17:00:09+00      toronto-on-ca
...                    ...                     ...                ...
7622  mls-toronto-X5821907  2022-11-14 16:50:46+00      toronto-on-ca
7623  mls-toronto-X5802334  2022-11-15 19:57:39+00      toronto-on-ca
7624  mls-toronto-X5729120  2022-11-18 17:06:55+00      toronto-on-ca
7625  mls-toronto-X5707991  2022-11-16 19:57:30+00      toronto-on-ca
7630  mls-toronto-X5819889  2022-11-16 23:10:48+00      toronto-on-ca

         community         neighbourhood_name neighbourhoods             city  \
22    Cundles East               Cundles East             []           Barrie
23        Bayfield               Cundles East             []           Barrie
24    Cundles East               Cundles East             []           Barrie
25    Cundles East               Cundles East             []           Barrie
26    Cundles East               Cundles East             []           Barrie
...            ...                        ...            ...              ...
7622        Dundas           Colborne, Dundas             []         Hamilton
7623          None                                        []  Greater Napanee
7624          None                   Oakridge             []           London
7625  Stoney Creek  Battlefield, Stoney Creek             []         Hamilton
7630          None   Burleigh Hill, Merritton             []       Catharines

     province                                _geoloc  \
22         ON  {'lat': 44.413409, 'lng': -79.690924}
23         ON   {'lat': 44.40616, 'lng': -79.699264}
24         ON  {'lat': 44.404555, 'lng': -79.699873}
25         ON  {'lat': 44.405393, 'lng': -79.701177}
26         ON  {'lat': 44.410167, 'lng': -79.690008}
...       ...                                    ...
7622       ON  {'lat': 43.269766, 'lng': -79.967235}
7623       ON  {'lat': 44.237127, 'lng': -76.977763}
7624       ON   {'lat': 42.973492, 'lng': -81.31968}
7625       ON  {'lat': 43.225807, 'lng': -79.764761}
7630       ON  {'lat': 43.132529, 'lng': -79.202872}

                                      formatted_address  ...  \
22        460 St Vincent St, Barrie, ON L4M 6C8, Canada  ...
23        22 Charlbrook Ave, Barrie, ON L4M 2Y4, Canada  ...
24            77 Carlton Rd, Barrie, ON L4M 5K8, Canada  ...
25        56 Charlbrook Ave, Barrie, ON L4M 2Y4, Canada  ...
26      149 Daphne Crescent, Barrie, ON L4M 2Y7, Canada  ...
...                                                 ...  ...
7622          291 King St W, Dundas, ON L9H 1W3, Canada  ...
7623  418 Bridge St W, Greater Napanee, ON K7R 3L1, ...  ...
7624  600 Hyde Park Rd Unit 170, London, ON N6H 5W8,...  ...
7625  82 Centennial Pkwy S, Stoney Creek, ON L8G 2C5...  ...
7630    10 Alden Ct, St. Catharines, ON L2T 3X3, Canada  ...

      bathrooms_partial bathrooms_total images_count garage_spaces_x  \
22                    1               3            9               2
23                    0               2           23               0
24                    1               2           28               0
25                    1               2           21               0
26                    0               2           16               0
...                 ...             ...          ...             ...
7622                  1               2           40               0
7623                  0               3           40               2
7624                  1               3           28               1
7625                  2               3           33               0
7630                  0               2           30               0

     predicted_price  error_rate     mean_price  mean_bath  garage_spaces_y  \
22              None        None  596283.333333        2.0              0.5
23              None        None  596283.333333        2.0              0.5
24              None        None  596283.333333        2.0              0.5
25              None        None  596283.333333        2.0              0.5
26              None        None  596283.333333        2.0              0.5
...              ...         ...            ...        ...              ...
7622            None        None  799900.000000        2.0              0.0
7623            None        None  799900.000000        3.0              2.0
7624            None        None  599900.000000        3.0              1.0
7625            None        None  849000.000000        3.0              0.0
7630            None        None  499999.000000        2.0              0.0

          dif_price
22    183716.666667
23    -16383.333333
24    -46383.333333
25    -97283.333333
26      2716.666667
...             ...
7622       0.000000
7623       0.000000
7624       0.000000
7625       0.000000
7630       0.000000

[2531 rows x 31 columns]>

In [24]:
df2[df2.isna()].count()

id                            0
last_updated_str              0
properly_city_code            0
community                     0
neighbourhood_name            0
neighbourhoods                0
city                          0
province                      0
_geoloc                       0
formatted_address             0
list_price                    0
on_market_date_str            0
close_date_str                0
property_sub_type             0
levels                        0
parking_total                 0
living_area_sqft              0
bedrooms_standard             0
bedrooms_plus                 0
bedrooms_standard_and_plus    0
bathrooms_full                0
bathrooms_partial             0
bathrooms_total               0
images_count                  0
garage_spaces_x               0
predicted_price               0
error_rate                    0
mean_price                    0
mean_bath                     0
garage_spaces_y               0
dif_price                     0
dtype: int64

In [25]:
#df_null = df2[df2.isnull()] == 0
#df_null = df2[df2.isnull()]

df_nonull_will = df2.replace({None:0}) #metodo tentativa e erro, replace None por 0, deu meio que certo mas em algumas colunas nao funcionou

df_nonull_will.count()

id                            7631
last_updated_str              7631
properly_city_code            7631
community                     7631
neighbourhood_name            7631
neighbourhoods                7631
city                          7631
province                      7631
_geoloc                       7631
formatted_address             7631
list_price                    7631
on_market_date_str            7631
close_date_str                7631
property_sub_type             7631
levels                        7631
parking_total                 7631
living_area_sqft              5348
bedrooms_standard             7631
bedrooms_plus                 7631
bedrooms_standard_and_plus    7631
bathrooms_full                7631
bathrooms_partial             7631
bathrooms_total               7631
images_count                  7631
garage_spaces_x               7631
predicted_price               7631
error_rate                    7631
mean_price                    7631
mean_bath                     7631
garage_spaces_y               7631
dif_price                     7631
dtype: int64

In [26]:
#df_nonull_will = df2.replace({None:0}, np.nan,0) #tentei usar meu esquema mas nao rolou

import numpy as np

df_nonull_will = df2.replace(np.nan,0 , inplace=False) #desisti e joguei no google. O "inplace" ali nao e necessario mas deixei pq se fosse Truth, ele aplicaria ao df2 tbm

df_nonull_will.count()

id                            7631
last_updated_str              7631
properly_city_code            7631
community                     7631
neighbourhood_name            7631
neighbourhoods                7631
city                          7631
province                      7631
_geoloc                       7631
formatted_address             7631
list_price                    7631
on_market_date_str            7631
close_date_str                7631
property_sub_type             7631
levels                        7631
parking_total                 7631
living_area_sqft              7631
bedrooms_standard             7631
bedrooms_plus                 7631
bedrooms_standard_and_plus    7631
bathrooms_full                7631
bathrooms_partial             7631
bathrooms_total               7631
images_count                  7631
garage_spaces_x               7631
predicted_price               7631
error_rate                    7631
mean_price                    7631
mean_bath                     7631
garage_spaces_y               7631
dif_price                     7631
dtype: int64

In [27]:
df2['living_area_sqft'].head(20)

#df_nonull_will['living_area_sqft'].head(20)

0        NaN
1        NaN
2      900.0
3     2750.0
4     1750.0
5      900.0
6     2250.0
7     2250.0
8        NaN
9      900.0
10    1750.0
11       NaN
12    4250.0
13       NaN
14       NaN
15    3250.0
16    3250.0
17       NaN
18       NaN
19    1300.0
Name: living_area_sqft, dtype: float64

In [28]:
#df_nonull_will.count()

#df_nonull_will[df_nonull_will['error_rate'].isnull()]

df_nonull_will[df_nonull_will['error_rate'].isnull()].value_counts #checando quantas linhas null de novo

<bound method DataFrame.value_counts of Empty DataFrame
Columns: [id, last_updated_str, properly_city_code, community, neighbourhood_name, neighbourhoods, city, province, _geoloc, formatted_address, list_price, on_market_date_str, close_date_str, property_sub_type, levels, parking_total, living_area_sqft, bedrooms_standard, bedrooms_plus, bedrooms_standard_and_plus, bathrooms_full, bathrooms_partial, bathrooms_total, images_count, garage_spaces_x, predicted_price, error_rate, mean_price, mean_bath, garage_spaces_y, dif_price]
Index: []

[0 rows x 31 columns]>

In [29]:
#df['neighbourhood_name'].value_counts(dropna = False)
#df['community'].value_counts(dropna = False)

#df2.value_counts(dropna = False)

#df2_null = df2[df2.isnull()]    #same as df2.count()

#df2.count().duplicated

#df_nonull_will.count()

In [30]:
df2.count() #checando df2 de novo so pra comparar abaixo

id                            7631
last_updated_str              7631
properly_city_code            7631
community                     6732
neighbourhood_name            7631
neighbourhoods                7631
city                          7631
province                      7631
_geoloc                       7631
formatted_address             7631
list_price                    7631
on_market_date_str            7631
close_date_str                7631
property_sub_type             7631
levels                        7607
parking_total                 7631
living_area_sqft              5348
bedrooms_standard             7631
bedrooms_plus                 7631
bedrooms_standard_and_plus    7631
bathrooms_full                7631
bathrooms_partial             7631
bathrooms_total               7631
images_count                  7631
garage_spaces_x               7631
predicted_price               5100
error_rate                    5100
mean_price                    7631
mean_bath                     7631
garage_spaces_y               7631
dif_price                     7631
dtype: int64

In [31]:
df2_nonull = df2.fillna(0) #metodo do google, esse funcionou em todas as colunas direto
df2_nonull.count()

id                            7631
last_updated_str              7631
properly_city_code            7631
community                     7631
neighbourhood_name            7631
neighbourhoods                7631
city                          7631
province                      7631
_geoloc                       7631
formatted_address             7631
list_price                    7631
on_market_date_str            7631
close_date_str                7631
property_sub_type             7631
levels                        7631
parking_total                 7631
living_area_sqft              7631
bedrooms_standard             7631
bedrooms_plus                 7631
bedrooms_standard_and_plus    7631
bathrooms_full                7631
bathrooms_partial             7631
bathrooms_total               7631
images_count                  7631
garage_spaces_x               7631
predicted_price               7631
error_rate                    7631
mean_price                    7631
mean_bath                     7631
garage_spaces_y               7631
dif_price                     7631
dtype: int64

In [32]:
df2_nonull['living_area_sqft'].head(20)

0        0.0
1        0.0
2      900.0
3     2750.0
4     1750.0
5      900.0
6     2250.0
7     2250.0
8        0.0
9      900.0
10    1750.0
11       0.0
12    4250.0
13       0.0
14       0.0
15    3250.0
16    3250.0
17       0.0
18       0.0
19    1300.0
Name: living_area_sqft, dtype: float64

***

__Comparando features__

In [33]:
df3 = df2_nonull.copy() # copy pq senao as alteracoes de um vao ser aplicadas no outro
df3.columns

Index(['id', 'last_updated_str', 'properly_city_code', 'community',
       'neighbourhood_name', 'neighbourhoods', 'city', 'province', '_geoloc',
       'formatted_address', 'list_price', 'on_market_date_str',
       'close_date_str', 'property_sub_type', 'levels', 'parking_total',
       'living_area_sqft', 'bedrooms_standard', 'bedrooms_plus',
       'bedrooms_standard_and_plus', 'bathrooms_full', 'bathrooms_partial',
       'bathrooms_total', 'images_count', 'garage_spaces_x', 'predicted_price',
       'error_rate', 'mean_price', 'mean_bath', 'garage_spaces_y',
       'dif_price'],
      dtype='object')

In [34]:
df3

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bathrooms_partial,bathrooms_total,images_count,garage_spaces_x,predicted_price,error_rate,mean_price,mean_bath,garage_spaces_y,dif_price
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,2,3,37,2,963601.125,0.09371979510713004,976891.5,3.0,1.416667,-28891.5
1,mls-toronto-W5783469,2022-12-30 14:47:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.652686, 'lng': -79.935119}","29 Heather Ct, Georgetown, ON L7G 2R5, Canada",...,1,2,38,1,903281.5625,0.02169789942989122,976891.5,3.0,1.416667,-47891.5
2,mls-toronto-W5853578,2022-12-22 23:19:24+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.650544, 'lng': -79.931884}","38 Henry St, Georgetown, ON L7G 2K5, Canada",...,0,1,14,0,695475.625,0.19267021399923254,976891.5,3.0,1.416667,-276891.5
3,mls-toronto-W5813715,2022-12-20 22:09:49+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.641308, 'lng': -79.87374}","23 Split Maple Ln, Georgetown, ON L7G 5R6, Canada",...,1,4,27,2,1369438.75,0.047678017728065604,976891.5,3.0,1.416667,522108.5
4,mls-toronto-W5823799,2022-12-12 15:19:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.632935, 'lng': -79.876212}","65 Niagara Trail, Georgetown, ON L7G 0A7, Canada",...,1,3,33,1,901884.625,0.03902155167574788,976891.5,3.0,1.416667,-47891.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-W5819761,2022-11-16 15:33:51+00,toronto-on-ca,Briar Hill-Belgravia,"Eglinton West, Briar Hill - Belgravia","[Fairbank, Fairbank (Briar Hill-Belgravia), Yo...",Toronto,ON,"{'lat': 43.695136, 'lng': -79.457522}","21 Ronald Ave, York, ON M6E 4M5, Canada",...,0,2,20,1,859919.875,0.11627449592323937,839000.0,2.0,1.000000,0.0
7627,mls-toronto-N5803278,2022-11-18 15:53:41+00,toronto-on-ca,Elder Mills,Elder Mills,[],Vaughan,ON,"{'lat': 43.804796, 'lng': -79.627028}","78 Royalpark Way, Vaughan, ON L4H 1J6, Canada",...,1,4,34,2,1328391.0,0.02445599601322201,1399900.0,4.0,2.000000,0.0
7628,mls-toronto-E5812454,2022-11-14 17:02:30+00,toronto-on-ca,Steeles,"Clarks Corners, Steeles",[],Scarborough,ON,"{'lat': 43.809156, 'lng': -79.310251}","16 Lapworth Crescent, Scarborough, ON M1V 2M5,...",...,1,4,40,2,1500777.25,0.027431702472835325,1599000.0,4.0,2.000000,0.0
7629,mls-toronto-C5821673,2022-11-14 21:28:09+00,toronto-on-ca,Kensington-Chinatown,"Baldwin Village, Grange Park","[Baldwin Village, Downtown, Grange Park]",Toronto,ON,"{'lat': 43.656319, 'lng': -79.392541}","6 Baldwin St, Toronto, ON M5T 1L2, Canada",...,1,3,28,1,1598647.375,0.09465611514234025,1499000.0,3.0,1.000000,0.0
7630,mls-toronto-X5819889,2022-11-16 23:10:48+00,toronto-on-ca,0,"Burleigh Hill, Merritton",[],Catharines,ON,"{'lat': 43.132529, 'lng': -79.202872}","10 Alden Ct, St. Catharines, ON L2T 3X3, Canada",...,0,2,30,0,0,0,499999.0,2.0,0.000000,0.0

$ / sqft

In [35]:
#df3_meansqft = df3.groupby(['city','neighbourhood_name'] , as_index = False).agg({'living_area_sqft':'mean'})
#df3_meansqft

#df3.loc[df3['living_area_sqft'] > 0, df3['list_price'] / df3['living_area_sqft']]

#if df3['living_area_sqft'] > 0:
    #df3_meansqft = df3['list_price'] / df3['living_area_sqft']

df3_pricesqft = df3['list_price'] / df3['living_area_sqft']

df3_pricesqft.replace([np.inf], 0, inplace=True) #aonde 'living_area_sqft' era 0, a divisao deu 'inf'. Trocando 'inf' por 0

df3_pricesqft

0         0.000000
1         0.000000
2       777.777778
3       545.090909
4       530.857143
           ...
7626    932.222222
7627    622.177778
7628      0.000000
7629    856.571429
7630    384.614615
Length: 7631, dtype: float64

In [36]:
df3['price/sqft'] = df3_pricesqft
df3.columns

Index(['id', 'last_updated_str', 'properly_city_code', 'community',
       'neighbourhood_name', 'neighbourhoods', 'city', 'province', '_geoloc',
       'formatted_address', 'list_price', 'on_market_date_str',
       'close_date_str', 'property_sub_type', 'levels', 'parking_total',
       'living_area_sqft', 'bedrooms_standard', 'bedrooms_plus',
       'bedrooms_standard_and_plus', 'bathrooms_full', 'bathrooms_partial',
       'bathrooms_total', 'images_count', 'garage_spaces_x', 'predicted_price',
       'error_rate', 'mean_price', 'mean_bath', 'garage_spaces_y', 'dif_price',
       'price/sqft'],
      dtype='object')

In [37]:
#df_city = df.groupby(['city','neighbourhood_name'],as_index = False).agg({'list_price':'mean',
#                                                               'bathrooms_total':'mean',
#                                                               'garage_spaces':'mean'})

#df3_parking = (df3.groupby(['city','neighbourhood_name','parking_total'],as_index = False).groupby(['living_area_sqft'].mean()).agg({'list_price':'mean'}))

#df3_parking = df3.groupby(['city','neighbourhood_name', 'living_area_sqft', 'parking_total'] ,as_index = False).agg({'list_price':'mean', 'living_area_sqft':'mean'})  #working

#df3_parking = df3.groupby(['city','neighbourhood_name', 'parking_total'] , as_index = False),['living_area_sqft', 'mean_bath'].agg({'list_price':'mean'})

#df3_parking

Mean $/sqft by neighbourhood

In [38]:
df3_nbmean = df3.groupby(['city','neighbourhood_name'] ,as_index = False).agg({'price/sqft':'mean'})
df3_nbmean.rename(columns= {'price/sqft':'price/sqft_nb'}, inplace = True) #renomeando a coluna pq quando der merge no df principal, vai comecar a zona de _x e _y

df3_nbmean

                   city                      neighbourhood_name  price/sqft_nb
0                 Acton              Action, Rural Halton Hills     423.831781
1     Adjala-Tosorontio        Everett, Rural Adjala-Tosorontio       0.000000
2     Adjala-Tosorontio                 Rural Adjala-Tosorontio     357.423077
3     Adjala-Tosorontio                     Rural New Tecumseth     211.142857
4                Agatha                                             666.622222
...                 ...                                     ...            ...
1701               York  Marlee Village, Briar Hill - Belgravia     638.666667
1702               York                      Mount Dennis, York     457.411765
1703               York                    Oakwood-Vaughn, York     185.571429
1704               York            Roselands, Rockcliffe-Smythe     654.728815
1705               York                            Weston, York     118.503704

[1706 rows x 3 columns]

In [39]:
df3 = df3.merge(df3_nbmean,how = 'inner', on = ['city','neighbourhood_name'])
df3.columns

Index(['id', 'last_updated_str', 'properly_city_code', 'community',
       'neighbourhood_name', 'neighbourhoods', 'city', 'province', '_geoloc',
       'formatted_address', 'list_price', 'on_market_date_str',
       'close_date_str', 'property_sub_type', 'levels', 'parking_total',
       'living_area_sqft', 'bedrooms_standard', 'bedrooms_plus',
       'bedrooms_standard_and_plus', 'bathrooms_full', 'bathrooms_partial',
       'bathrooms_total', 'images_count', 'garage_spaces_x', 'predicted_price',
       'error_rate', 'mean_price', 'mean_bath', 'garage_spaces_y', 'dif_price',
       'price/sqft', 'price/sqft_nb'],
      dtype='object')

$/sqft by number of parking spots

In [40]:
#df3_parking = df3.groupby(['city','neighbourhood_name','parking_total'] ,as_index = False).agg({'price/sqft':[('price_parking','mean')]})  #tentei elegantemente renomear junto com o agregate, ate funcionou mas dividiu o nome da coluna em duas linhas

df3_parking = df3.groupby(['city',
                            'neighbourhood_name',
                            'parking_total'] ,
                            as_index = False).agg({'price/sqft':'mean'}) 

df3_parking.rename(columns= {'price/sqft':'price/sqft_parking'},
                            inplace = True)  

df3_parking

,city,neighbourhood_name,parking_total,price/sqft_parking
0,Acton,"Action, Rural Halton Hills",2,692.306923
1,Acton,"Action, Rural Halton Hills",3,346.115385
2,Acton,"Action, Rural Halton Hills",4,579.226496
3,Acton,"Action, Rural Halton Hills",6,0.000000
4,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",6,0.000000
...,...,...,...,...
4085,York,"Oakwood-Vaughn, York",3,371.142857
4086,York,"Roselands, Rockcliffe-Smythe",1,642.228164
4087,York,"Roselands, Rockcliffe-Smythe",3,692.230769
4088,York,"Weston, York",5,177.755556
4089,York,"Weston, York",6,0.000000

$/sqft by number of bedrooms

In [41]:
#df3['bedrooms_plus', 'bedrooms_standard', 'bedrooms_standard_and_plus'].head(1)
df3['bedrooms_standard_and_plus'].head(20)

0     3
1     3
2     4
3     5
4     3
5     3
6     4
7     4
8     5
9     4
10    3
11    5
12    4
13    4
14    3
15    4
16    5
17    4
18    4
19    3
Name: bedrooms_standard_and_plus, dtype: int64

In [42]:
df3_beds = df3.groupby(['city','neighbourhood_name',
                        'bedrooms_standard_and_plus'] ,
                        as_index = False).agg({'price/sqft':'mean'})
df3_beds.rename(columns= {'price/sqft':'price/sqft_beds'}, 
                            inplace = True)  
df3_beds

,city,neighbourhood_name,bedrooms_standard_and_plus,price/sqft_beds
0,Acton,"Action, Rural Halton Hills",3,461.512564
1,Acton,"Action, Rural Halton Hills",4,386.150997
2,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",4,0.000000
3,Adjala-Tosorontio,Rural Adjala-Tosorontio,3,0.000000
4,Adjala-Tosorontio,Rural Adjala-Tosorontio,4,691.538462
...,...,...,...,...
3666,York,"Oakwood-Vaughn, York",4,0.000000
3667,York,"Roselands, Rockcliffe-Smythe",1,629.411765
3668,York,"Roselands, Rockcliffe-Smythe",2,663.167832
3669,York,"Weston, York",3,0.000000
3670,York,"Weston, York",4,177.755556

$/sqft by number of bathrooms

In [43]:
#imagino que tenha uma diferenca grande em quanto em half /full bathroom influencie o preco, entao separei os dois

df3_bathsp = df3.groupby(['city',
                            'neighbourhood_name',
                            'bathrooms_partial'],
                            as_index = False).agg({'price/sqft':'mean'})
df3_bathsp.rename(columns= {'price/sqft':'price/sqft_bathsp'}, 
                                            inplace = True)  

df3_bathsf = df3.groupby(['city',
                            'neighbourhood_name',
                            'bathrooms_full'],
                            as_index = False).agg({'price/sqft':'mean'})
df3_bathsf.rename(columns= {'price/sqft':'price/sqft_bathsf'}, 
                                            inplace = True)

$/sqft by property type

In [44]:
df3_prprty_tp = df3.groupby(['city',
                            'neighbourhood_name',
                            'property_sub_type'],
                            as_index = False).agg({'price/sqft':'mean'})

df3_prprty_tp.rename(columns= {'price/sqft':'price/sqft_prprty_tp'}, 
                                            inplace = True)

df3_prprty_tp

,city,neighbourhood_name,property_sub_type,price/sqft_prprty_tp
0,Acton,"Action, Rural Halton Hills",Detached,423.831781
1,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",Detached,0.000000
2,Adjala-Tosorontio,Rural Adjala-Tosorontio,Detached,357.423077
3,Adjala-Tosorontio,Rural New Tecumseth,Detached,422.285714
4,Adjala-Tosorontio,Rural New Tecumseth,Townhouse,0.000000
...,...,...,...,...
2756,York,"Oakwood-Vaughn, York",Detached,185.571429
2757,York,"Roselands, Rockcliffe-Smythe",Condominium,642.228164
2758,York,"Roselands, Rockcliffe-Smythe",Detached,692.230769
2759,York,"Weston, York",Detached,0.000000
2760,York,"Weston, York",Semi-Detached,355.511111

___

Days in market

In [45]:
df3['on_market_date_str']

0       2022-10-27
1       2022-10-03
2       2022-12-19
3       2022-11-02
4       2022-11-11
           ...
7626    2022-11-08
7627    2022-10-21
7628    2022-11-01
7629    2022-11-09
7630    2022-11-08
Name: on_market_date_str, Length: 7631, dtype: object

In [46]:
#df3['on_market_date_str']

#df3_days_market = (df3['close_date_str']-df3['on_market_date_str'])    #nao rolou, imagino que pq as datas sao um objeto

#df3_delta  = df3.np.timedelta64(1,D)

#df3['on_market_date_str']

#df3dateclo = pd.to_datetime(df3['close_date_str'])

#f3_days_m = df3dateclo-df3datestr

#df3_days_m

import datetime as dt

df3['on_market_date_str'] = pd.to_datetime(df3['on_market_date_str']) 
df3['close_date_str'] = pd.to_datetime(df3['close_date_str']) 

df3_days_market = (df3['close_date_str']-df3['on_market_date_str'])

df3_days_market

0      69 days
1      87 days
2       3 days
3      43 days
4      28 days
         ...
7626    4 days
7627   22 days
7628   11 days
7629    3 days
7630    3 days
Length: 7631, dtype: timedelta64[ns]

Funcionou mas esta em formato series

In [47]:
#df3_days_mrkt2 = pd.to_numeric(df3_days_market) #meio que funcionou mas retornou os valores em nanoseconds

___

# **Obtendo numero de dias do timedelta64**

In [48]:
df3_days_mrkt = df3_days_market.astype('timedelta64[D]') #puxou o numero de dias do valor timedelta64

df3_days_mrkt

0       69.0
1       87.0
2        3.0
3       43.0
4       28.0
        ...
7626     4.0
7627    22.0
7628    11.0
7629     3.0
7630     3.0
Length: 7631, dtype: float64

___

In [49]:
#df3_days_mrkt2 = pd.to_datetime(df3_days_market, unit='D')

In [50]:
#pd.Series.df3_days_market.

In [51]:
#days = np.timedelta64.astype("timedelta64[D]")

#days = pd.Timedelta.__str__(df3_days_market)

#days = pd.DataFrame(data=df3_days_market, index=['days'])

#days

In [52]:
#df3.insert(13, 'days_mrkt', df3_days_market)

#df3

In [53]:
#days = np.timedelta64('')

#days

In [54]:
#df3_days_market = pd.Series.rename('teste')
#df3_days_market = pd.Series.rename_axis('teste')

#df3_days_mrkt = pd.Series(df3_days_market)

#df3_days_market

In [55]:
#df3_days_mrkt = pd.to_numeric(df3_days_market)
#df3_days_market.to_string['0']

df3_days_mrkt = pd.DataFrame(df3_days_mrkt) #voltando pro formato dataframe

df3_days_mrkt.head()

      0
0  69.0
1  87.0
2   3.0
3  43.0
4  28.0

In [56]:
df3_days_mrkt = df3_days_mrkt.rename(columns={0:'Days-Mrkt'})

In [57]:
#df3_days_mrkt.index = pd.RangeIndex(start=0, stop=len(df3_days_mrkt))


#df3_days_mrkt

In [58]:
df3.insert(loc = 11,
            column= 'days-mrkt',
            value = df3_days_mrkt)

In [59]:
df3

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,images_count,garage_spaces_x,predicted_price,error_rate,mean_price,mean_bath,garage_spaces_y,dif_price,price/sqft,price/sqft_nb
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,37,2,963601.125,0.09371979510713004,976891.5,3.0,1.416667,-28891.5,0.000000,417.381293
1,mls-toronto-W5783469,2022-12-30 14:47:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.652686, 'lng': -79.935119}","29 Heather Ct, Georgetown, ON L7G 2R5, Canada",...,38,1,903281.5625,0.02169789942989122,976891.5,3.0,1.416667,-47891.5,0.000000,417.381293
2,mls-toronto-W5853578,2022-12-22 23:19:24+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.650544, 'lng': -79.931884}","38 Henry St, Georgetown, ON L7G 2K5, Canada",...,14,0,695475.625,0.19267021399923254,976891.5,3.0,1.416667,-276891.5,777.777778,417.381293
3,mls-toronto-W5813715,2022-12-20 22:09:49+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.641308, 'lng': -79.87374}","23 Split Maple Ln, Georgetown, ON L7G 5R6, Canada",...,27,2,1369438.75,0.047678017728065604,976891.5,3.0,1.416667,522108.5,545.090909,417.381293
4,mls-toronto-W5823799,2022-12-12 15:19:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.632935, 'lng': -79.876212}","65 Niagara Trail, Georgetown, ON L7G 0A7, Canada",...,33,1,901884.625,0.03902155167574788,976891.5,3.0,1.416667,-47891.5,530.857143,417.381293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-W5819761,2022-11-16 15:33:51+00,toronto-on-ca,Briar Hill-Belgravia,"Eglinton West, Briar Hill - Belgravia","[Fairbank, Fairbank (Briar Hill-Belgravia), Yo...",Toronto,ON,"{'lat': 43.695136, 'lng': -79.457522}","21 Ronald Ave, York, ON M6E 4M5, Canada",...,20,1,859919.875,0.11627449592323937,839000.0,2.0,1.000000,0.0,932.222222,932.222222
7627,mls-toronto-N5803278,2022-11-18 15:53:41+00,toronto-on-ca,Elder Mills,Elder Mills,[],Vaughan,ON,"{'lat': 43.804796, 'lng': -79.627028}","78 Royalpark Way, Vaughan, ON L4H 1J6, Canada",...,34,2,1328391.0,0.02445599601322201,1399900.0,4.0,2.000000,0.0,622.177778,622.177778
7628,mls-toronto-E5812454,2022-11-14 17:02:30+00,toronto-on-ca,Steeles,"Clarks Corners, Steeles",[],Scarborough,ON,"{'lat': 43.809156, 'lng': -79.310251}","16 Lapworth Crescent, Scarborough, ON M1V 2M5,...",...,40,2,1500777.25,0.027431702472835325,1599000.0,4.0,2.000000,0.0,0.000000,0.000000
7629,mls-toronto-C5821673,2022-11-14 21:28:09+00,toronto-on-ca,Kensington-Chinatown,"Baldwin Village, Grange Park","[Baldwin Village, Downtown, Grange Park]",Toronto,ON,"{'lat': 43.656319, 'lng': -79.392541}","6 Baldwin St, Toronto, ON M5T 1L2, Canada",...,28,1,1598647.375,0.09465611514234025,1499000.0,3.0,1.000000,0.0,856.571429,856.571429
7630,mls-toronto-X5819889,2022-11-16 23:10:48+00,toronto-on-ca,0,"Burleigh Hill, Merritton",[],Catharines,ON,"{'lat': 43.132529, 'lng': -79.202872}","10 Alden Ct, St. Catharines, ON L2T 3X3, Canada",...,30,0,0,0,499999.0,2.0,0.000000,0.0,384.614615,384.614615

In [60]:
#df3_days_market['days_mrkt'] = pd.to_datetime(df3_days_market)

#df3_days_mrkt = df3_days_market.astype(str)

#df3_days_market

In [61]:
#df3_days_mrkt.columns
#df3_days_mrkt.head()
#df3_days_mrkt.index.name = 'teste'

In [62]:
#df3_days_mrkt = df3_days_mrkt.rename(columns={0:'Days_mrkt'}, inplace=True)

#df3_days_mrkt

In [63]:
#df_daysmrkt_test =

In [64]:
#df3_days_mrkt = df3_days_market[''] #replace 'days'

In [65]:
#df3_days_mrkt.reset_index()

df3_days_mrkt.rename(columns= {'0':'days_mrkt'}, 
                                            inplace = True)

df3_days_mrkt

      Days-Mrkt
0          69.0
1          87.0
2           3.0
3          43.0
4          28.0
...         ...
7626        4.0
7627       22.0
7628       11.0
7629        3.0
7630        3.0

[7631 rows x 1 columns]

In [66]:
#df3_days_mrkt = df3_days_mrkt['0'].replace('days','')

#df3_days_mrkt

In [67]:
df3.columns

Index(['id', 'last_updated_str', 'properly_city_code', 'community',
       'neighbourhood_name', 'neighbourhoods', 'city', 'province', '_geoloc',
       'formatted_address', 'list_price', 'days-mrkt', 'on_market_date_str',
       'close_date_str', 'property_sub_type', 'levels', 'parking_total',
       'living_area_sqft', 'bedrooms_standard', 'bedrooms_plus',
       'bedrooms_standard_and_plus', 'bathrooms_full', 'bathrooms_partial',
       'bathrooms_total', 'images_count', 'garage_spaces_x', 'predicted_price',
       'error_rate', 'mean_price', 'mean_bath', 'garage_spaces_y', 'dif_price',
       'price/sqft', 'price/sqft_nb'],
      dtype='object')

In [68]:
#df3.insert(loc = 11,
            #column= 'days-mrkt',
            #value = df3_days_market)

#df3.columns

***

__Properties sold more than once during analyzed period__

In [69]:
#df3_flipped = df3.duplicated(subset=['formatted_address'])

#df3_flipped

In [70]:
#df3_flipped = df3.groupby(['city',
                            #'neighbourhood_name',
                            #'formatted_address'],
                            #as_index = False).agg({'formatted_address':'count'})

#df3_flipped = df3.groupby(['city',
#                            'neighbourhood_name',
#                            'formatted_address'],
#                            as_index = False).agg({'formatted_address':'count'})


#df3_flipped.rename(columns= {'price/sqft':'price/sqft_prprty_tp'}, 
                                            #inplace = True)


df3_flipped = df3.groupby(['city',
                            'neighbourhood_name',
                            'formatted_address'],
                            as_index = False).agg({'id':'count'})

df3_flipped #muito poucas propriedades repetidas, talvez tenha pequenas diferencas no endereco da mesma propriedade

,city,neighbourhood_name,formatted_address,id
0,Acton,"Action, Rural Halton Hills","15 Birchway Pl, Acton, ON L7J 2X4, Canada",1
1,Acton,"Action, Rural Halton Hills","156 Longfield Rd, Acton, ON L7J 2K4, Canada",1
2,Acton,"Action, Rural Halton Hills","266 McDonald Blvd, Acton, ON L7J 2R9, Canada",1
3,Acton,"Action, Rural Halton Hills","42 Storey Dr, Acton, ON L7J 2P4, Canada",1
4,Acton,"Action, Rural Halton Hills","44 Tanners Dr, Acton, ON L7J 3A4, Canada",1
...,...,...,...,...
7605,York,"Roselands, Rockcliffe-Smythe","240 Scarlett Rd #913, York, ON M6N 4X4, Canada",1
7606,York,"Roselands, Rockcliffe-Smythe","270 Scarlett Rd #1812, York, ON M6N 4X7, Canada",1
7607,York,"Weston, York","118 William St, York, ON M9N 2G7, Canada",1
7608,York,"Weston, York","189 Wright Ave, York, ON M9N 3T2, Canada",1
7609,York,"Weston, York","34 Cross St, York, ON M9N 2B9, Canada",1

In [71]:
df3_flipped.sort_values('id', ascending=False)

,city,neighbourhood_name,formatted_address,id
432,Blue Mountains,"Blue Mountain Resort Area, Rural Blue Mountains","Red pine St, The Blue Mountains, ON L9Y 0R4, C...",3
5954,Toronto,"Flemingdon Park, North York","155 Leeward Glenway #95, Toronto, ON M3C 3E7, ...",3
4520,Oshawa,"Central Oshawa, Downtown Oshawa","Oshawa, ON, Canada",3
6782,Toronto,"The Annex, Midtown","280 Howland Ave, Toronto, ON M5R 0C3, Canada",2
228,Barrie,City Center,"111 Worsley St, Barrie, ON L4M 5R5, Canada",2
...,...,...,...,...
2534,Hepworth,,"186 Bruce St, Hepworth, ON N0H 1P0, Canada",1
2533,Hawkestone,Rural Oro-Medonte,"2122 Old Barrie Rd E, Hawkestone, ON L0L 1T0, ...",1
2532,Hawkestone,Rural Oro-Medonte,"200 Shoreline Dr #11, Hawkestone, ON L0L 1T0, ...",1
2531,Hawkestone,Rural Oro-Medonte,"144 Shoreline Dr, Hawkestone, ON L0L 1T0, Canada",1
7609,York,"Weston, York","34 Cross St, York, ON M9N 2B9, Canada",1

In [72]:
df3['_geoloc'][2]

{'lat': 43.650544, 'lng': -79.931884}

In [73]:
df3['_geoloc']

0       {'lat': 43.640198, 'lng': -79.872318}
1       {'lat': 43.652686, 'lng': -79.935119}
2       {'lat': 43.650544, 'lng': -79.931884}
3        {'lat': 43.641308, 'lng': -79.87374}
4       {'lat': 43.632935, 'lng': -79.876212}
                        ...
7626    {'lat': 43.695136, 'lng': -79.457522}
7627    {'lat': 43.804796, 'lng': -79.627028}
7628    {'lat': 43.809156, 'lng': -79.310251}
7629    {'lat': 43.656319, 'lng': -79.392541}
7630    {'lat': 43.132529, 'lng': -79.202872}
Name: _geoloc, Length: 7631, dtype: object

In [74]:
#df3['_geoloc'] = df3['_geoloc'].astype("string")    #disregard

#df3['_geoloc']

In [75]:
df3_geoloc = df3.groupby(['city',
                            'neighbourhood_name',
                            ],
                            as_index = False).agg({'_geoloc':'count'})    #agregando pelo geoloc que parece ser mais preciso

#df3_geoloc = df3.groupby(['_geoloc'],
                            #as_index = False).agg({'list_price':'max', 'list_price':'min'})                            

                           

df3_geoloc

                   city                      neighbourhood_name  _geoloc
0                 Acton              Action, Rural Halton Hills        6
1     Adjala-Tosorontio        Everett, Rural Adjala-Tosorontio        1
2     Adjala-Tosorontio                 Rural Adjala-Tosorontio        4
3     Adjala-Tosorontio                     Rural New Tecumseth        2
4                Agatha                                                1
...                 ...                                     ...      ...
1701               York  Marlee Village, Briar Hill - Belgravia        1
1702               York                      Mount Dennis, York        1
1703               York                    Oakwood-Vaughn, York        4
1704               York            Roselands, Rockcliffe-Smythe        4
1705               York                            Weston, York        3

[1706 rows x 3 columns]

In [76]:
df3_geoloc.rename(columns= {'_geoloc':'Times_Sold'}, 
                                            inplace = True)

df3_geoloc

                   city                      neighbourhood_name  Times_Sold
0                 Acton              Action, Rural Halton Hills           6
1     Adjala-Tosorontio        Everett, Rural Adjala-Tosorontio           1
2     Adjala-Tosorontio                 Rural Adjala-Tosorontio           4
3     Adjala-Tosorontio                     Rural New Tecumseth           2
4                Agatha                                                   1
...                 ...                                     ...         ...
1701               York  Marlee Village, Briar Hill - Belgravia           1
1702               York                      Mount Dennis, York           1
1703               York                    Oakwood-Vaughn, York           4
1704               York            Roselands, Rockcliffe-Smythe           4
1705               York                            Weston, York           3

[1706 rows x 3 columns]

In [77]:
#df3_geoloc

#df3_geoloc = df3['_geoloc'].to_string   #nops

#df3_geoloc = df3['_geoloc'].replace("{'lat': ","")  #nops, pelo jeito eh um dicionario e nao da pra dar replace


#df3_geoloc = pd.DataFrame.from_dict(df3['_geoloc'])  #convertendo toda a coluna '_geoloc em um dataframe'

#df3_geoloc

___

**Merge dos acima no dataframe principal**

In [78]:
df3.columns

Index(['id', 'last_updated_str', 'properly_city_code', 'community',
       'neighbourhood_name', 'neighbourhoods', 'city', 'province', '_geoloc',
       'formatted_address', 'list_price', 'days-mrkt', 'on_market_date_str',
       'close_date_str', 'property_sub_type', 'levels', 'parking_total',
       'living_area_sqft', 'bedrooms_standard', 'bedrooms_plus',
       'bedrooms_standard_and_plus', 'bathrooms_full', 'bathrooms_partial',
       'bathrooms_total', 'images_count', 'garage_spaces_x', 'predicted_price',
       'error_rate', 'mean_price', 'mean_bath', 'garage_spaces_y', 'dif_price',
       'price/sqft', 'price/sqft_nb'],
      dtype='object')

In [79]:
df3_all = df3.merge(df3_parking, how = 'inner', on = ['city','neighbourhood_name'])
df3_all = df3.merge(df3_bathsf, how = 'inner', on = ['city','neighbourhood_name'])
df3_all = df3.merge(df3_bathsp, how = 'inner', on = ['city','neighbourhood_name'])
df3_all = df3.merge(df3_beds, how = 'inner', on = ['city','neighbourhood_name'])
#df3_all = df3.merge(df3_days_market, how = 'inner', on = ['city','neighbourhood_name'])
df3_all = df3.merge(df3_geoloc, how = 'inner', on = ['city','neighbourhood_name'])



df3_all

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,garage_spaces_x,predicted_price,error_rate,mean_price,mean_bath,garage_spaces_y,dif_price,price/sqft,price/sqft_nb,Times_Sold
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,2,963601.125,0.09371979510713004,976891.5,3.0,1.416667,-28891.5,0.000000,417.381293,12
1,mls-toronto-W5783469,2022-12-30 14:47:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.652686, 'lng': -79.935119}","29 Heather Ct, Georgetown, ON L7G 2R5, Canada",...,1,903281.5625,0.02169789942989122,976891.5,3.0,1.416667,-47891.5,0.000000,417.381293,12
2,mls-toronto-W5853578,2022-12-22 23:19:24+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.650544, 'lng': -79.931884}","38 Henry St, Georgetown, ON L7G 2K5, Canada",...,0,695475.625,0.19267021399923254,976891.5,3.0,1.416667,-276891.5,777.777778,417.381293,12
3,mls-toronto-W5813715,2022-12-20 22:09:49+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.641308, 'lng': -79.87374}","23 Split Maple Ln, Georgetown, ON L7G 5R6, Canada",...,2,1369438.75,0.047678017728065604,976891.5,3.0,1.416667,522108.5,545.090909,417.381293,12
4,mls-toronto-W5823799,2022-12-12 15:19:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.632935, 'lng': -79.876212}","65 Niagara Trail, Georgetown, ON L7G 0A7, Canada",...,1,901884.625,0.03902155167574788,976891.5,3.0,1.416667,-47891.5,530.857143,417.381293,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-W5819761,2022-11-16 15:33:51+00,toronto-on-ca,Briar Hill-Belgravia,"Eglinton West, Briar Hill - Belgravia","[Fairbank, Fairbank (Briar Hill-Belgravia), Yo...",Toronto,ON,"{'lat': 43.695136, 'lng': -79.457522}","21 Ronald Ave, York, ON M6E 4M5, Canada",...,1,859919.875,0.11627449592323937,839000.0,2.0,1.000000,0.0,932.222222,932.222222,1
7627,mls-toronto-N5803278,2022-11-18 15:53:41+00,toronto-on-ca,Elder Mills,Elder Mills,[],Vaughan,ON,"{'lat': 43.804796, 'lng': -79.627028}","78 Royalpark Way, Vaughan, ON L4H 1J6, Canada",...,2,1328391.0,0.02445599601322201,1399900.0,4.0,2.000000,0.0,622.177778,622.177778,1
7628,mls-toronto-E5812454,2022-11-14 17:02:30+00,toronto-on-ca,Steeles,"Clarks Corners, Steeles",[],Scarborough,ON,"{'lat': 43.809156, 'lng': -79.310251}","16 Lapworth Crescent, Scarborough, ON M1V 2M5,...",...,2,1500777.25,0.027431702472835325,1599000.0,4.0,2.000000,0.0,0.000000,0.000000,1
7629,mls-toronto-C5821673,2022-11-14 21:28:09+00,toronto-on-ca,Kensington-Chinatown,"Baldwin Village, Grange Park","[Baldwin Village, Downtown, Grange Park]",Toronto,ON,"{'lat': 43.656319, 'lng': -79.392541}","6 Baldwin St, Toronto, ON M5T 1L2, Canada",...,1,1598647.375,0.09465611514234025,1499000.0,3.0,1.000000,0.0,856.571429,856.571429,1
7630,mls-toronto-X5819889,2022-11-16 23:10:48+00,toronto-on-ca,0,"Burleigh Hill, Merritton",[],Catharines,ON,"{'lat': 43.132529, 'lng': -79.202872}","10 Alden Ct, St. Catharines, ON L2T 3X3, Canada",...,0,0,0,499999.0,2.0,0.000000,0.0,384.614615,384.614615,1

In [80]:
#df4 = df3.merge(df3_parking, how = 'inner', on = ['city','neighbourhood_name'])

#df3_beds, df3_bathsp, df3_bathsf, df3_geoloc, df3_prprty_tp, how ='inner'

#df4 = df3.merge(df3_beds, df3_bathsp, df3_bathsf, df3_geoloc, df3_prprty_tp, how='left',on=['city','neighbourhood_name'])

#df4 = df3[['city','neighbourhood_name']].merge(df3_parking, how = 'inner', on = ['city','neighbourhood_name','parking_total'])
#df4 = df3.merge(df3_bathsf, how = 'inner', on = ['city','neighbourhood_name','bathrooms_full'])

#df3[['city','neighbourhood_name']]

#df4 = df3[['city','neighbourhood_name']]
#df4['price/sqft'] = df3_pricesqft
#df4['']


#df4

___

**Tasks**
-For ou funcao lambda , mapreduce, multiprocessing

-Comparar variaveis

-isolar as melhores propriedades**

___

**Teste For**

In [81]:
teste_list = [10,20,30,40,50]
teste_list2 = [60,70,80,90,100]
teste_for = pd.DataFrame(teste_list, columns=['Teste'])
teste_for2 = pd.DataFrame(teste_list2, columns=['Teste2'])

teste_forvazio = []

In [82]:
for i in range(1,4):        
    df.loc[len(df)] = i *1 
print(df)

                        id        last_updated_str properly_city_code  \
0     mls-toronto-W5808402  2023-01-05 03:13:50+00      toronto-on-ca
1     mls-toronto-W5756108  2023-01-04 13:38:41+00      toronto-on-ca
2     mls-toronto-S5856040  2023-01-05 14:51:54+00      toronto-on-ca
3     mls-toronto-S5842127  2023-01-04 17:23:18+00      toronto-on-ca
4     mls-toronto-S5834508  2023-01-05 14:13:15+00      toronto-on-ca
...                    ...                     ...                ...
7629  mls-toronto-X5811095  2022-11-14 14:14:52+00      toronto-on-ca
7630  mls-toronto-X5809927  2022-11-11 23:34:44+00      toronto-on-ca
7631                     1                       1                  1
7632                     2                       2                  2
7633                     3                       3                  3

             community                   neighbourhood_name neighbourhoods  \
0           Georgetown       Georgetown, Rural Halton Hills             []
1         Palermo West           Bronte Creek, Palermo West             []
2         Cundles East                         Cundles East             []
3     Horseshoe Valley  Horseshoe Valley, Rural Oro-Medonte             []
4             400 West           Painswick South, Painswick             []
...                ...                                  ...            ...
7629     Brantford Twp                           Echo Place             []
7630              None                     Hespeler Village             []
7631                 1                                    1              1
7632                 2                                    2              2
7633                 3                                    3              3

            city province                                _geoloc  \
0     Georgetown       ON  {'lat': 43.640198, 'lng': -79.872318}
1       Oakville       ON  {'lat': 43.422433, 'lng': -79.769032}
2         Barrie       ON  {'lat': 44.413409, 'lng': -79.690924}
3     Shanty Bay       ON  {'lat': 44.537724, 'lng': -79.660751}
4         Barrie       ON  {'lat': 44.344414, 'lng': -79.647427}
...          ...      ...                                    ...
7629   Brantford       ON  {'lat': 43.148269, 'lng': -80.196682}
7630   Cambridge       ON  {'lat': 43.427825, 'lng': -80.302224}
7631           1        1                                      1
7632           2        2                                      2
7633           3        3                                      3

                                      formatted_address  ...  \
0           3 Watson Rd, Georgetown, ON L7G 5N8, Canada  ...
1     3141 Saddleworth Crescent, Oakville, ON L6M 0A...  ...
2         460 St Vincent St, Barrie, ON L4M 6C8, Canada  ...
3        52 Oakmont Ave, Shanty Bay, ON L0L 2L0, Canada  ...
4       119 Nathan Crescent, Barrie, ON L4N 0S5, Canada  ...
...                                                 ...  ...
7629     117 Barrett Ave, Brantford, ON N3S 0B3, Canada  ...
7630        14 Alpine St, Cambridge, ON N3C 2J7, Canada  ...
7631                                                  1  ...
7632                                                  2  ...
7633                                                  3  ...

      bedrooms_standard bedrooms_plus bedrooms_standard_and_plus  \
0                     3             0                          3
1                     4             0                          4
2                     4             0                          4
3                     2             1                          3
4                     2             1                          3
...                 ...           ...                        ...
7629                  4             1                          5
7630                  2             2                          4
7631                  1             1                          1
7632                  2             2                          2
7633                  3             3                          3

     bathrooms_full bathrooms_partial  bathrooms_total  images_count  \
0                 1                 2                3            37
1                 3                 2                5            40
2                 2                 1                3             9
3                 2                 0                2            32
4                 1                 0                1            28
...             ...               ...              ...           ...
7629              3                 1                4            26
7630              2                 0                2            28
7631              1                 1                1             1
7632              2                 2                2             2
7633              3                 3                3             3

      garage_spaces  predicted_price           error_rate
0                 2       963601.125  0.09371979510713004
1                 2       2463218.75  0.07794405186303491
2                 2             None                 None
3                 2             None                 None
4                 1             None                 None
...             ...              ...                  ...
7629              2             None                 None
7630              2             None                 None
7631              1                1                    1
7632              2                2                    2
7633              3                3                    3

[7634 rows x 27 columns]

In [83]:
for w in range(0, len(teste_list)):
    teste_forvazio.append(teste_list2)
    

teste_forvazio

[[60, 70, 80, 90, 100],
 [60, 70, 80, 90, 100],
 [60, 70, 80, 90, 100],
 [60, 70, 80, 90, 100],
 [60, 70, 80, 90, 100]]

In [84]:
for w in range(0, len(teste_for)):
    teste_forvazio.append(teste_for2)
    

teste_forvazio

[[60, 70, 80, 90, 100],
 [60, 70, 80, 90, 100],
 [60, 70, 80, 90, 100],
 [60, 70, 80, 90, 100],
 [60, 70, 80, 90, 100],
    Teste2
 0      60
 1      70
 2      80
 3      90
 4     100,
    Teste2
 0      60
 1      70
 2      80
 3      90
 4     100,
    Teste2
 0      60
 1      70
 2      80
 3      90
 4     100,
    Teste2
 0      60
 1      70
 2      80
 3      90
 4     100,
    Teste2
 0      60
 1      70
 2      80
 3      90
 4     100]

In [85]:
#df_list = [teste_list, teste_list2]

#for df in [teste_for, teste_for2]:
    #pd.merge(df, how='outer', on=['Teste'])

#for i in range(0,len(df_list)):


for df in [teste_for, teste_for2]:
    pd.concat([teste_for, teste_for2], join="inner")

In [86]:
for i in range(0,len(teste_for)):
    
    pd.concat

___

__For Loop correto__

In [89]:
for i in [df3_parking, df3_bathsf, df3_bathsp, df3_beds, df3_prprty_tp, df3_flipped]:
    df3_all_floop = df3.merge(i, how='inner', on=['city','neighbourhood_name']) #adicionou trocentas linhas?

***

In [88]:
df3_all_test = df3.merge(df3_bathsp, how='inner', on=['city','neighbourhood_name'])

#df_list = [df3_parking, df3_bathsf, df3_bathsp, df3_beds, df3_prprty_tp, df3_flipped] #como lista

df_list = [df3_parking, df3_bathsf, df3_bathsp, df3_beds, df3_prprty_tp, df3_flipped]

df_list2 = []

for i in range(0,len(df_list)):
    df_i = df_list['neighbourhood_name']
    df_list2.append(df_i)

df_testedf = pd.DataFrame(df_list2)

df_list = [df3_parking, df3_bathsf, df3_bathsp, df3_beds, df3_prprty_tp, df3_flipped]

df_list2 = []
for k in df_list:
    if 'city' in k.columns:
        df_list2.append(k)

list2 = pd.concat(df_list2)  #meio que funciona



#for i in range(0,len(df_list)):
    #df_i = df_list['neighbourhood_name']
    #df_list2.append(df_i)

#df_testedf = pd.DataFrame(df_list2)

pd.concat([df.set_index('neighbourhood_name') for pd.DataFrame in df_merge], ignore_index=False, axis=1)

#df_merge = pd.(df3_parking, df3_bathsf, df3_bathsp, df3_beds, df3_prprty_tp, df3_flipped) #como df

df_merge

#def dfname(data):
    #name =[x for x in globals(df.Name) if globals()[x] is data][0]
    #print(name)

#df2 = df.merge(df_city,how = 'inner', on = ['city','neighbourhood_name'])

for i in range(0,len(df_merge)):
    #df_name = pd.DataFrame.get()
    #df4 = df.append(df_merge, how = 'inner', on = ['city','neighbourhood_name'])
    df4 = df.append(df_merge, ignore_index=True)

df4